body {
    background: rgb(7, 7, 7);
    display: flex;
   /* justify-content: center;*/
    align-items: center;
    height: 500px;
    margin: 0;
}

.solar-system {
    position: relative;
    height: 100%;
    width: 100px;
    margin: 0;
}

.sun {
    width: 200px;
    height: 200px;
    background-color: #FCD80A;
   box-shadow: #6C4300 30px 0px 70px 60px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    right: 100px;
    
}

.orbit {
    position: relative;
    margin :0;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    
}

.orbit-mercury {
    width: 300px;
    height: 250px;
    top: 30%;
}

.orbit-venus {
    width: 400px;
    height: 350px;
    bottom: 20%;;
    
}

.orbit-earth {
    width: 550px;
    height: 450px;
    bottom: 90%;
}

.orbit-mars{
    width: 700px;
    height: 550px;
    bottom: 180%;
}

.orbit-jupiter{
    width: 850px;
    height: 650px;
    bottom: 290%;
}

.orbit-saturn{
    width: 1000px;
    height: 750px;
    bottom: 420%;
}

.orbit-urenus{
    width: 1150px;
    height: 850px;
    bottom: 570%;
}

.orbit-neptune{
    width: 1300px;
    height: 950px;
    bottom: 740%;
}

.planet{
    position: absolute;
    border-radius: 50%;
    animation: rotate 15s infinite linear;
    
}

.mercury{
    top: 40%;
    left: 95%;
    width: 30px;
    height: 30px;
    background-color: #BE904E;
    transform: translate(2px, 50%);
    animation: rotate 2s infinite linear;
}

.venus{
    top: 50%;
    left: 96%;
    width: 40px;
    height: 40px;
    background-color: #E6BD6E;
    transform: translate(-5px, -50%);
    animation: rotate 4s infinite linear;
}

.earth {
    top: 49%;
    left: 96%;
    width: 40px;
    height: 40px;
    background-color: #009EC1;
    transform: translate(3px, -50%);
    animation: rotate 6s infinite linear;
}

.mars {
    top: 48%;
    left: 96.5%;
    width: 50px;
    height: 50px;
    background-color: #E68F51;
    transform: translate(-1px, -50%);
    animation: rotate 8s infinite linear;
}
.jupiter {
    top: 47.5%;
    left: 97%;
    width: 50px;
    height: 50px;
    background-color: #DDB86A;
    transform: translate(-1px, -50%);
    animation: rotate 10s infinite linear;
}
.saturn {
    top: 45%;
    left: 98%;
    width: 40px;
    height: 40px;
    background-color: #EAD3B1;
    transform: translate(1px, -5%);
    animation: rotate 12s infinite linear;
}
.uranus {
    top: 46.5%;
    left: 98.5%;
    width: 30px;
    height: 30px;
    background-color: #92CDEB;
    transform: translate(2px, -30%);
    /*animation: rotate 14s infinite linear;*/
}

.neptune {
    top: 46.5%;
    left: 98.5%;
    width: 30px;
    height: 30px;
    background-color: #6680D9;
    transform: translate(2px, -30%);
    /*animation: rotate 16s infinite linear;*/
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
  }
  .star {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 30%;
    animation: twinkle 2s infinite ease-in-out;
  }

  @keyframes twinkle {
    0%, 100% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.2;
    }
  }
  .star:nth-child(1) { top: 110%; left: 400%; animation-delay: 0s; }
  .star:nth-child(2) { top: 20%; left: 800%; animation-delay: 0.5s; }
  .star:nth-child(3) { top: 30%; left: 700%; animation-delay: 1s; }
  .star:nth-child(4) { top: 40%; left: 900%; animation-delay: 1.5s; }
  .star:nth-child(5) { top: 50%; left: 950%; animation-delay: 2s; }
  .star:nth-child(6) { top: 60%; left: 180%; animation-delay: 2.5s; }
  .star:nth-child(7) { top: 60%; left: 1000%; animation-delay: 3s; }
  .star:nth-child(8) { top: 80%; left: 170%; animation-delay: 3.5s; }
  .star:nth-child(9) { top: 90%; left: 850%; animation-delay: 4s; }
  .star:nth-child(10) { top: 10%; left: 120%; animation-delay: 4.5s; }
  .star:nth-child(11) { top: 120%; left: 250%; animation-delay: 0.5s; }
  .star:nth-child(12) { top: 30%; left: 300%; animation-delay: 1s; }
  .star:nth-child(13) { top: 40%; left: 320%; animation-delay: 1.5s; }
  .star:nth-child(14) { top: 150%; left: 350%; animation-delay: 2s; }
  .star:nth-child(15) { top: 60%; left: 400%; animation-delay: 2.5s; }
  .star:nth-child(16) { top: 160%; left: 450%; animation-delay: 3s; }
  .star:nth-child(17) { top: 180%; left: 500%; animation-delay: 3.5s; }
  .star:nth-child(18) { top: 90%; left: 550%; animation-delay: 4s; }
  .star:nth-child(19) { top: 10%; left: 600%; animation-delay: 4.5s; }

